<div class="panel">
  <div class="panel-item">
    <span class="item-icon special"></span
    ><span class="item-caption">Promotions</span>
  </div>
  <div class="panel-item">
    <span class="item-icon"></span><span class="item-caption">Games</span>
  </div>
  <div class="panel-item">
    <span class="item-icon"></span><span class="item-caption">Sportsbook</span>
  </div>
  <div class="panel-item">
    <span class="item-icon"></span><span class="item-caption">Live Casino</span>
  </div>
  <div class="panel-item">
    <span class="item-icon"></span><span class="item-caption">Drugs</span>
  </div>
</div>
