@import "./reset.css";
@import "./variables.css";

:root {
  background-color: var(--color-primary-500);
}

body {
  font-family: var(--ff-primary);
  color: var(--color-text-primary);
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - var(--header-height));
}

.highlight {
  color: var(--color-text-accent);
}
