.welcome-container {
    padding: 1rem;
}
.welcome-heading {
    font-size: 2rem;
    line-height: 1.1em;
    margin-bottom: .5rem;
    font-weight: var(--fw-bold);
}

.welcome-subheading {
    font-size: var(--fs-normal);
    line-height: 1.1em;
    font-weight: var(--fw-semibold);
    font-style: italic;
}

.welcome-text {
    font-size: var(--fs-smaller);
    margin-top: 1rem;
}