<app-carousel></app-carousel>
<app-nav-panel></app-nav-panel>
<div class="welcome-container">
  <h1 class="welcome-heading">The future of iGaming</h1>
  <h2 class="welcome-subheading">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </h2>
  <p class="welcome-text">
    Voluptatum libero cum, hic temporibus ipsum minima voluptatibus consequatur
    rerum praesentium tempore tempora impedit architecto sit eligendi id facilis
    dolorum ullam non?
  </p>
  <p class="welcome-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <p class="welcome-text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae eligendi,
    exercitationem dolor magni iusto doloremque inventore nam laudantium
    cupiditate at commodi delectus accusamus non illo iste repellendus, odio
    corrupti. Aspernatur! In nihil repellat sint ex culpa iure veniam officia
    eligendi nam, dolore quos doloremque velit deserunt accusantium alias
    aspernatur excepturi. At sunt quisquam provident, sit autem omnis delectus
    debitis architecto?
  </p>
</div>
